#conditionsPage{
  border: none;
  background-color: inherit;
  color: blue;
}

#logout-button{
  display: none;
}
#login-button{
  display: block;
  text-align: center;
}
body{
background-color: blanchedalmond;
}
.container{
  text-align: center;
}
.containerInfo{
  text-align: center;
}
#messageContainer{
  height: 30vh;
  text-align: right;
  border: solid white;
}