#conditionsPage{
  border: none;
  background-color: inherit;
  color: blue;
}

#logout-button{
  display: none;
}
#login-button{
  display: inline-block;
  text-align: center;
}
.container{
  text-align: center;
}
.containerInfo{
  text-align: center;
}